body{
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

*, ::after, ::before {
    box-sizing: border-box;
}

img{
    display: block;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
p {
    margin: 0;
}

ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul, 
ol, 
a {
    list-style-type: none;
    text-decoration: none;
}

.svg{
    fill: #f4f4fd;
    stroke: #F4F4FD;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.head{
    padding: 24px 0px;
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.nav{
    display: flex;
    align-items: center;
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

menu{
    color: #404bbf; 
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-studio-after{
    color: #404bbf;
}

.navigation-after::after{
    position: absolute;
    content: "";
    width: 100%;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
}

.contacts{
    transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.headinfo{
    display: flex;
    justify-content: space-between;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container{
    width: 1158px;
    padding: 0 15px;
    margin: 0 auto;
}

.sec .container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.foot .container{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.footer-content{
    margin-right: 120px;
}

.foot .social-networks{
    gap: 16px;
}

.icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px; 
    background-color: #f4f4fd;
    border-radius: 4px;
    margin-bottom: 8px;
}

.container .a-list:hover,
.container .a-list:focus{
    background-color: #31d0aa;
}

.networks-p{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;
}

.something{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color:#2e2f42;
    margin-bottom: 8px;
}

.maintittle{
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
    max-width: 496px;
    margin-bottom: 48px;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
}

.menu{
    display: flex;
    gap: 40px 
}

.studio{
    color: #2e2f42;
}

.description{
    display: flex; 
    gap: 24px;
}

.lidescription{
    width: calc((100% - 72px) / 4);
}

.navigation{
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.navigation-after{
    color: #404bbf;
}

.navigation:hover,
.navigation:focus{
    color: #404bbf;
}

address{
    font-style: normal;
}
.adress{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.adress:hover,
.adress:focus{
    color: #404bbf;
}

 /* Стиль для заголовку */
.sec {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
    background-color: #2e2f42;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1440px;
    background-position: center;
    margin-right: auto;
    margin-left: auto;
    padding-top: 188px;
    padding-bottom: 188px;
}

  /* Стиль для кнопки */
.button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block; 
    min-width: 169px;
    height: 56px;
    border: none;
    background-color:#4d5ae5;
    border-radius: 4px;
    cursor: pointer;
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

   /* Стиль для кнопки при наведенні */
.button:hover,
.button:focus {
     background-color: #404BBF;
}

.second{
    color: #2e2f42;
    padding: 120px 0;

}

.tittle{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px
}

.portfolio h2{
    margin-bottom: 72px;
}

.paragraph{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team{
    background-color: #F4F4FD;
    padding: 120px 0;
}

.apps{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.liapps{
    width: calc((100% - 48px) / 3); 
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.divapps{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.divapps:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.apps-p{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    color: #f4f4fd; 
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%); 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.apps-img{
    position: relative;
    overflow: hidden;
}

.liapps:hover .apps-p,
.liapps:focus .apps-p{
    transform: translateY(0%);
}

.team h2{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

.list{
    background-color: #FFFFFF;
    width: ((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.a-list{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: rgba(77, 90, 229, 1);
    border-radius: 50%;
    position: relative;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
}

.team .a-list:hover,
.team .a-list:focus
{
    background-color: #404bbf;
}

.social-networks{
    display: flex;
    justify-content: center;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 8px;
    gap: 24px;
    align-items: center;
}


.foot .social-networks-list{
    display: flex;
    gap: 16px;
}

.social-networks-list{
    width: 40px;
    height: 40px; 
}


footer .studio{
    color: #F4F4FD;
}

.foot{
    background-color: #2e2f42;
    padding: 100px 0;
}

.foot .logo{
    display: inline-block;
    margin-bottom: 16px;
}

.p_footer{
    max-width: 264px;
}

.foot-networks-list{
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    align-items: center;
    display: flex;
    justify-content: center;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

footer p{
    color: #F4F4FD;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.namediv{
    padding: 32px 0;
    border-radius: 0px 0px 4px 4px;
}


.namediv .something,
.namediv .paragraph
{
    text-align: center;
}

.portfolio{
    padding-top: 120px; padding-bottom: 120px; 
}

.contacts{
    color: #434455;
}

.contacts:hover{
    color: #404bbf;
}

.contacts:focus{
    color: #404bbf;
}

/*форма*/
.form{
    display: flex; 
    gap: 24px;
}

.form-input{
    width: 264px;
    height: 40px; 
    border: 1px solid #ffffff; 
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5; 
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter:  drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
}

.form-button{
    min-width: 165px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none; 
    border-radius: 4px;
    line-height: 1.5;
}

.form-icon{
    margin-left: 16px; 
}

/*модальне вікно*/

.modal{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window{
    padding: 72px 24px 24px 24px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px; 
    background: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.modal-button{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc; 
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0; 
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus{
    background-color: #404bbf;
    border: none;
}

.modal-button:hover .exit-icon,
.modal-button:focus .exit-icon{
    fill: #ffffff;
}

.exit-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}



.modal-p{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-form{
    margin-bottom: 8px;
}

.modal-label{
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block; 
    margin-bottom: 4px;
}

.form-container{
    margin-bottom: 8px;
}

.modal-form-container{
    position: relative;
}

.modal-user-name{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 4px;
    background-color: transparent; 
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-user-name:focus{
    border-color:  #4D5AE5;
}

.input-icon{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%); 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-user-name:focus+.input-icon{
    fill: #4D5AE5; 
}

.modal-comment{
    margin-bottom: 16px;
}

.form-comment{
    width: 100%;
    height: 120px; 
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px; 
    background-color: transparent;
    padding: 8px 16px; 
    outline: transparent; 
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment:focus{
    border-color: #4D5AE5;
}

.modal-checkbox{
    margin-bottom: 24px;
}

.label-checkbox{
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.form-span{
    width: 16px; 
    height: 16px; 
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 2px; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    fill: transparent;
}

.checkbox:checked+.label-checkbox>.form-span{
    fill:#F4F4FD; 
    border: none;
    background-color: #404bbf;
}

.policy{
    color:  #4d5ae5;
}

.form-submit-button{
    display: block; 
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none; 
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}