body {
    font-family: "Roboto", sans-serif;
    background-color: #fff;
    color: #434455;
}

body {
    margin: 0;
    display: block;
}

img {
    display: block;
}

p,
h1,
h2,
h3 {
    margin-top: 0;
    margin-bottom: 0;
}
  
ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}
  
.container {
    max-width: 1558px;
    padding-left: 16px;
    padding-right: 16px;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.svg{
    fill: #f4f4fd;
    stroke: #F4F4FD;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

ul, 
ol, 
a {
    list-style-type: none;
    text-decoration: none;
}

/* HEADER MOBILE */
.menu{
    display: none;
}

.headinfo{
    display: flex;
    justify-content: space-between;
}

.logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.nav{
    gap: 76px;
}

.studio{
    color: #2e2f42;
}

.head{
    
    padding: 24px 0px;
    justify-content: space-between;
}

.mobile-menu-button{
    border: none;
    background-color: transparent;
    padding: 0;
    line-height: 0;
}

.contacts{
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px;
    letter-spacing: 0.48px;
}

.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 11111111;
    background-color: #F4F4FD;
    transform: translateX(100%); 
    transition: transform 250ms linear;
}

.mobile-menu.is-open{
    transform: translateX(0%);
}

.mobile-menu-container{
    position: relative;
}

.mobile-menu-close-button{
    margin-left: 8px;
    margin-top: 24px;
    position: absolute;
    top: 0;
    right: 0;
    border-color: #2E2F42;
    border-width: 1px;
    background-color: transparent;
    padding: 0;
    line-height: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border-style: solid;
}

.mobile-menu-nav-list{
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-top: 72px;
}

.mobile-nav-link{
    color: #2E2F42;
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.mobile-nav-link:focus,
.mobile-nav-link:hover{
    color: #404BBF;
}

.mobile-menu-adress{
    margin-top: 164px;
}

.mobile-social-networks-ul{
    margin-top: 48px;
    display: flex;
    gap: 30px;
    max-width: 256px;
}

.mobile-menu-adress-list{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.mobile-menu-adress .contacts{
    color: var(--SLATE, #434455);
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.mobile-menu-adress .contacts:hover,
.mobile-menu-adress .contacts:focus{
   color: #4D5AE5; 
}

/* HEADER MOBILE */

/* HERO MOBILE */
.sec {
    background-image: linear-gradient(rgba(46, 47, 66, 0.7),
    rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpg);
    background-color: #2e2f42;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 320px;
    background-position: center;
    margin: 0 auto;
    padding-top: 72px;
    padding-bottom: 72px;
    color: #fff;
}

.maintittle{
    color: #fff;
    margin: 0 auto;
    margin-bottom: 72px;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    max-width: 190px;
    color: var(--text-white);
}
    


.button {
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    display: block; 
    min-width: 169px;
    height: 56px;
    border: none;
    background-color:#4d5ae5;
    border-radius: 4px;
    cursor: pointer;
    background-color: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition:  background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}

.button:hover,
.button:focus {
     background-color: #404BBF;
}
/* HERO MOBILE */

/* second MOBILE */
.description{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

.lidescription{
    width: 100%;
    display: flex;
    width: 288px;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.section {
    padding-top: 96px;
    padding-bottom: 96px;
}

.icon-container{
    display: none;
}

.something{
    margin-bottom: 8px;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--title-dark);
}

.paragraph{
    color: var(--SLATE, #434455);
    /* Body Medium */
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}
/* second MOBILE */

/* TEAM MOBILE */
.tittle{
    margin-bottom: 72px;
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    /* Header 2 */
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px; /* 111.111% */
    letter-spacing: 0.72px;
    text-transform: capitalize;
}

.social-networks{
    flex-direction: column;
    align-items: center;
    margin: 0;
}

.tittle{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
    margin-bottom: 72px
}

.portfolio h2{
    margin-bottom: 72px;
}

.paragraph{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.team{
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-name{
    text-align: center;
}

.list{
    background-color: #FFFFFF;
    width: ((100% - 72px) / 4);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08); 
}

.namediv{
    padding: 32px 0;
    border-radius: 0px 0px 4px 4px;
}

.namediv .something,
.namediv .paragraph
{
    text-align: center;
}

.paragraph{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.a-list{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: rgba(77, 90, 229, 1);
    border-radius: 50%;
    position: relative;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    align-items: center;
    justify-content: center;
}

.team .a-list:hover,
.team .a-list:focus
{
    background-color: #404bbf;
}

.social-networks{
    display: flex;
    justify-content: center;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 8px;
    gap: 24px;
    align-items: center;
    flex-direction: row;
}

.social-networks-list{
    width: 40px;
    height: 40px; 
}

.team .a-list:hover,
.team .a-list:focus
{
    background-color: #404bbf;
}
/* TEAM MOBILE */

/* PORTFOLIO MOBILE */
.apps{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
}

.liapps{
    width: 288px;
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
        transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.divapps{
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.divapps:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.apps-p{
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em; 
    color: #f4f4fd; 
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%); 
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.apps-img{
    position: relative;
    overflow: hidden;
}

.liapps:hover .apps-p,
.liapps:focus .apps-p{
    transform: translateY(0%);
}

.team h2{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.paragraph{
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}
/* PORTFOLIO MOBILE */

/* FOOTER MOBILE */
.foot{
    background-color: #2e2f42;
    padding: 96px 0;
    text-align: center;
}

.footer-logo{
    display: inline-block;
    margin-bottom: 16px;
}

.footer-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 72px;
}

footer .studio{
    color: #F4F4FD;
}

footer{
    color: #F4F4FD;
}

.footer-content{
    justify-content: center;
}

.networks-p{
    margin-bottom: 16px;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
    letter-spacing: 0.32px;
}

.p_footer{
    max-width: 264px;
}

.form{
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.form-input{
    width: 264px;
    height: 40px; 
    border: 1px solid #ffffff; 
    background-color: transparent;
    font-size: 12px;
    line-height: 1.5; 
    letter-spacing: 0.04em;
    padding-left: 16px;
    filter:  drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    color: #ffffff;
    margin: 16px;
}

.form-button{
    background-color: #4D5AE5;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 165px;
    height: 40px;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border: none;
    border-radius: 4px;
    color: var(--button-text);
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.form-icon{
    margin-left: 16px; 
    fill: var(--text-white);
}

.foot-form {
    width: 100%;
}

.a-list:hover,
.a-list:focus{
    background-color: #31d0aa;
}

.modal-button{
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e7e9fc; 
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding: 0; 
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus{
    background-color: #404bbf;
    border: none;
}

/* FOOTER MOBILE */
@media screen and (min-width: 320px) {
    .container{
        max-width: 320px;
        margin-right: auto;
        margin-left: auto;
    }    
}

@media screen and (min-width: 768px) {
    .container{
        max-width: 768px;
    }

    .container .a-list:hover,
    .container .a-list:focus{
        background-color: #31d0aa;
    }
    
    .menu{
        display: flex;
        gap: 40px 
    }

    .mobile-menu-button{
        display: none;
    }

    .adress .menu{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .nav{
        display: flex;
        align-items: center;
    }

    .navigation{
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        padding: 24px 0;
        position: relative;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1)
    }

    .navigation-after{
        color: #404bbf;
    }
    
    .navigation:hover,
    .navigation:focus{
        color: #404bbf;
    }

    address{
        font-style: normal;
    }
    .adress{
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
    }
    
    .adress:hover,
    .adress:focus{
        color: #404bbf;
    }

    .navigation-studio-after{
        color: #404bbf;
    }
    
    .navigation-after::after{
        position: absolute;
        content: "";
        width: 100%;
        left: 0;
        bottom: -1px;
        height: 4px;
        background-color: #404bbf;
        border-radius: 2px;
    }
    
    .contacts{
        transition:  color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .head{
        align-items: center;
        padding: 6px 0;
    }

    .sec{
        max-width: 768px;
    }

    .description{
        margin: 0 auto;
        max-width: 768px;
        justify-content: center;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
    }

    .lidescription{
        max-width: 346px;
        align-items: flex-start;
    }

    .maintittle{
        max-width: 496px;
        margin-bottom: 36px;
        font-size: 56px;
    }

    .something{
        text-align: left;
    }

    .apps{
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;  
    }

    .liapps{
        width: 356px;
    }

    .footer-container{
        align-items: flex-start;
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
    }

    .form{
        flex-direction: row;
        gap: 24px;
    }

    .foot-form{
        text-align: justify;
        width: auto;
    }

    .networks-p{

    }

    .p_footer,
    .networks-p,
    .footer-content,
    .footer-logo
    {
        text-align: left;
    }

    .social-networks{
        margin: 0;
    }

    /*модальне вікно*/

.modal{
    transform: translateX(100%);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 47, 66, 0.4);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal.is-open{
    transform: translateX(0%);
}

.modal-window{
    padding: 72px 24px 24px 24px; 
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    width: 408px;
    min-height: 584px; 
    background: #fcfcfc;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .exit-icon,
.modal-button:focus .exit-icon{
    fill: #ffffff;
}

.exit-icon{
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}



.modal-p{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 16px;
}

.modal-form{
    margin-bottom: 8px;
}

.modal-label{
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.04em;
    color: #8e8f99;
    display: block; 
    margin-bottom: 4px;
}

.form-container{
    margin-bottom: 8px;
}

.form-label{
    width: 264px;
}

.form-input{
    margin: 0;
}

.modal-form-container{
    position: relative;
}

.modal-user-name{
    width: 100%;
    height: 40px;
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 4px;
    background-color: transparent; 
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-user-name:focus{
    border-color:  #4D5AE5;
}

.input-icon{
    position: absolute;
    left: 16px;
    top: 50%;
    transform: translateY(-50%); 
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1); 
}

.modal-user-name:focus+.input-icon{
    fill: #4D5AE5; 
}

.modal-comment{
    margin-bottom: 16px;
}

.form-comment{
    width: 100%;
    height: 120px; 
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px; 
    background-color: transparent;
    padding: 8px 16px; 
    outline: transparent; 
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment:focus{
    border-color: #4D5AE5;
}

.modal-checkbox{
    margin-bottom: 24px;
}

.label-checkbox{
    font-size: 12px;
    line-height: 1.17; 
    letter-spacing: 0.04em;
    color: #8e8f99;
}

.form-span{
    width: 16px; 
    height: 16px; 
    border: 1px solid rgba(46, 47, 66, 0.4); 
    border-radius: 2px; 
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    display: inline-flex;
    align-items: center; 
    justify-content: center;
    fill: transparent;
}

.checkbox:checked+.label-checkbox>.form-span{
    fill:#F4F4FD; 
    border: none;
    background-color: #404bbf;
}

.policy{
    color:  #4d5ae5;
}

.form-submit-button{
    display: block; 
    min-width: 169px;
    height: 56px;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    background-color: #4D5AE5;
    border: none; 
    border-radius: 4px;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    cursor: pointer;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    margin: 0 auto;
}
}

@media screen and (min-width: 1158px) {
    .section{
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .sec{
        max-width: 1440px;
    }

    .container{
        max-width: 1440px;
    }
    
    .head{
        padding: 24px 0;
    }

    .adress .menu{
        display: flex;
        flex-direction: row;
        gap: 24px;
    }

    .maintittle{
        max-width: 496px;
        margin-bottom: 36px;
        font-size: 56px;
    }

    .liapps{
        width: 360px;
    }

    .description{
        flex-direction: row;
        flex-wrap: nowrap;
        max-width: 1128px;
    }

    .lidescription{
        align-items: flex-start;
    }

    .sec .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .icon-container{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 112px;
        padding: 24px 100px;
        border-radius: 4px;
        background: #f4f4fd;
        border: 1px solid #8e8f99;
        margin-bottom: 8px;
    }

    .something{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color:#141518;
        margin-bottom: 8px;
    }

    .footer-container{
        max-width: 1158px;
        justify-content: space-between;
        align-items: center;
        flex-wrap: nowrap;
        gap: 0px;
    }
}

/* ---------- RETINA ---------- */
@media screen and (min-resolution: 192dpi),
screen and (min-resolution: 2dppx),
screen and (min-divice-pixel-ratio: 2)
{
    .sec{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
        url(../images/people-office@2x.jpg);
        background-color: #2e2f42;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        margin: 0 auto;
        padding-top: 72px;
        padding-bottom: 72px;
        color: #fff;
    }
}
    
/* ---------- RETINA ---------- */

